<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A protocol use case file.</string>
	<key>Summary</key>
	<string>A protocol use case file</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Use case name:</string>
			<key>Description</key>
			<string>Use cases must use -able -ible in their name.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>UserRegistrable</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>resource</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Resource class:</string>
			<key>Description</key>
			<string>The class name of the resource used as repository.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>User</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>resourceVar</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Resource variable name:</string>
			<key>Description</key>
			<string>The variable name of the resource used as repository.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>user</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
