<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.VIPER</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>io.mobilette.dt.unit.Podfile_Definitions</string>
		<string>io.mobilette.dt.unit.API_Definitions</string>
		<string>io.mobilette.dt.unit.storyboardVIPER</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Swift starter project for VIPER iOS projects</string>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>../Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>*:target:PromiseKit</key>
		<string>pod &apos;PromiseKit&apos;</string>
		<key>ModuleFactory.swift</key>
		<dict>
			<key>Path</key>
			<string>ModuleFactory.swift</string>
		</dict>
		<key>Commons</key>
		<dict>
			<key>Path</key>
			<string>Commons</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Commons/Modules/Routable.swift</key>
		<dict>
			<key>Path</key>
			<string>Modules/Routable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Modules</string>
			</array>
		</dict>
		<key>Commons/Storyboards/SegueHandlerType.swift</key>
		<dict>
			<key>Path</key>
			<string>Storyboards/SegueHandlerType.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Storyboards</string>
			</array>
		</dict>
		<key>Commons/Storyboards/StoryboardSegueDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Storyboards/StoryboardSegueDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Storyboards</string>
			</array>
		</dict>
		<key>Commons/Domain/Entity.swift</key>
		<dict>
			<key>Path</key>
			<string>Domain/Entity.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Domain</string>
			</array>
		</dict>
		<key>Commons/Domain/Repository.swift</key>
		<dict>
			<key>Path</key>
			<string>Domain/Repository.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Domain</string>
			</array>
		</dict>
		<key>Commons/Network/NetworkCancelable.swift</key>
		<dict>
			<key>Path</key>
			<string>Network/NetworkCancelable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Network</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile:source:CocoaPods</string>
		<string>../Podfile:platform</string>
		<string>../Podfile:framework</string>
		<string>../Podfile:target</string>
		<string>../Podfile:target:PromiseKit</string>
		<string>ModuleFactory.swift</string>
		<string>Commons</string>
		<string>Commons/Modules/Routable.swift</string>
		<string>Commons/Storyboards/SegueHandlerType.swift</string>
		<string>Commons/Storyboards/StoryboardSegueDelegate.swift</string>
		<string>Commons/Domain/Entity.swift</string>
		<string>Commons/Domain/Repository.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasAlamofire</string>
			<key>Name</key>
			<string>Include Alamofire</string>
			<key>Description</key>
			<string>Adds Alamofire as a CocoaPod.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:target:Alamofire</string>
						<string>Commons/Network/NetworkCancelable.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasObjectMapper</string>
			<key>Name</key>
			<string>Include ObjectMapper</string>
			<key>Description</key>
			<string>Adds ObjectMapper as a CocoaPod.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
			<key>RequiredOptions</key>
			<dict>
				<key>hasAlamofire</key>
				<string>true</string>
			</dict>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:target:ObjectMapper</string>
						<string>Commons/API/Components/DateISO8601Transform.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasAPIDefaultImplementation</string>
			<key>Name</key>
			<string>Include API default implementation</string>
			<key>Description</key>
			<string>Adds default implementation of API service.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>RequiredOptions</key>
			<dict>
				<key>hasAlamofire</key>
				<string>true</string>
			</dict>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Commons/API/RouterProtocol.swift</string>
						<string>Commons/API/Error.swift</string>
						<string>Commons/API/___PROJECTNAME___API.swift</string>
						<string>Commons/API/Request.swift</string>
						<string>Commons/API/User/UserRouter.swift</string>
						<string>Commons/API/User/UserError.swift</string>
						<string>Commons/API/User/UserAuthenticable.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
