<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.application</string>
	<key>Ancestors</key>
	<array>
		<string>io.mobilette.dt.unit.coreDataApplication</string>
		<string>io.mobilette.dt.unit.Podfile_Definitions</string>
		<string>io.mobilette.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Swift starter project for ACMS iOS projects</string>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>../Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>*:target:PromiseKit</key>
		<string>pod &apos;PromiseKit&apos;</string>
		<key>*:target:ObjectMapper</key>
		<string>pod &apos;ObjectMapper&apos;</string>
		<key>*:targetTests:Nimble</key>
		<string>pod &apos;Nimble&apos;</string>
		<key>*:targetTests:Quick</key>
		<string>pod &apos;Quick&apos;</string>
		<key>ModuleFactory.swift</key>
		<dict>
			<key>Path</key>
			<string>ModuleFactory.swift</string>
		</dict>
		<key>Commons</key>
		<dict>
			<key>Path</key>
			<string>Commons</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Commons/Modules/Routable.swift</key>
		<dict>
			<key>Path</key>
			<string>Modules/Routable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Modules</string>
			</array>
		</dict>
		<key>Commons/Storyboards/SegueHandlerType.swift</key>
		<dict>
			<key>Path</key>
			<string>Storyboards/SegueHandlerType.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Storyboards</string>
			</array>
		</dict>
		<key>Commons/Storyboards/StoryboardSegueDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Storyboards/StoryboardSegueDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Storyboards</string>
			</array>
		</dict>
		<key>Commons/Domain/Entity.swift</key>
		<dict>
			<key>Path</key>
			<string>Domain/Entity.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Domain</string>
			</array>
		</dict>
		<key>Commons/Domain/Repository.swift</key>
		<dict>
			<key>Path</key>
			<string>Domain/Repository.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Domain</string>
			</array>
		</dict>
		<key>Commons/Network/Controllable.swift</key>
		<dict>
			<key>Path</key>
			<string>Network/Controllable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Commons/Network/ControllableError.swift</key>
		<dict>
			<key>Path</key>
			<string>Network/ControllableError.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Commons/Network/Components/DateISO8601Transform.swift</key>
		<dict>
			<key>Path</key>
			<string>Network/Components/DateISO8601Transform.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>Network</string>
				<string>Components</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile:source:CocoaPods</string>
		<string>../Podfile:platform</string>
		<string>../Podfile:framework</string>
		<string>../Podfile:target</string>
		<string>../Podfile:target:PromiseKit</string>
		<string>../Podfile:target:ObjectMapper</string>
		<string>../Podfile:targetTests</string>
		<string>../Podfile:targetTests:Nimble</string>
		<string>../Podfile:targetTests:Quick</string>
		<string>ModuleFactory.swift</string>
		<string>Commons</string>
		<string>Commons/Modules/Routable.swift</string>
		<string>Commons/Storyboards/SegueHandlerType.swift</string>
		<string>Commons/Storyboards/StoryboardSegueDelegate.swift</string>
		<string>Commons/Domain/Entity.swift</string>
		<string>Commons/Domain/Repository.swift</string>
		<string>Commons/Network/Controllable.swift</string>
		<string>Commons/Network/ControllableError.swift</string>
	</array>
</dict>
</plist>
