<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.storyboardApplication</string>
	<key>Ancestors</key>
	<array>
		<string>io.mobilette.dt.unit.applicationBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;
</string>
		<key>Main/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<string>Main</string>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Main/Main.storyboard</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>*:implementation:methods:awakeFromNib:super</key>
						<string>super.awakeFromNib()</string>
						<key>Main/ViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>Main/ViewController.swift</string>
							<key>Group</key>
							<string>Main</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Main/ViewController.swift</string>
						<string>Main/ViewController.swift:comments</string>
						<string>Main/ViewController.swift:imports:importCocoa</string>
						<string>Main/ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>Main/ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>Main/ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>Main/ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>Main/ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
