<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.API_Definitions</string>
	<key>Ancestors</key>
	<array>
		<string>io.mobilette.dt.unit.Podfile_Definitions</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:cart:PromiseKit</key>
		<string>github &quot;mxcl/PromiseKit&quot;</string>
		<key>*:cart:Alamofire</key>
		<string>github &quot;Alamofire/Alamofire&quot;</string>
		<key>Commons/RouterProtocol.swift</key>
		<dict>
			<key>Path</key>
			<string>RouterProtocol.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
			</array>
		</dict>
		<key>Commons/Error.swift</key>
		<dict>
			<key>Path</key>
			<string>Error.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
			</array>
		</dict>
		<key>___PROJECTNAME___API.swift</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAME___API.swift</string>
		</dict>
		<key>Commons/Requestable.swift</key>
		<dict>
			<key>Path</key>
			<string>Requestable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
			</array>
		</dict>
		<key>Commons/NetworkCancelable.swift</key>
		<dict>
			<key>Path</key>
			<string>NetworkCancelable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
			</array>
		</dict>
		<key>Login/LoginRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>LoginRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
			</array>
		</dict>
		<key>Login/LoginFeature.swift</key>
		<dict>
			<key>Path</key>
			<string>LoginFeature.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
			</array>
		</dict>
		<key>Login/Authenticable/Authenticable.swift</key>
		<dict>
			<key>Path</key>
			<string>Authenticable/Authenticable.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Authenticable</string>
			</array>
		</dict>
		<key>Login/Authenticable/AuthenticableBoundaries.swift</key>
		<dict>
			<key>Path</key>
			<string>Authenticable/AuthenticableBoundaries.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Authenticable</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
