<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.API_Definitions</string>
	<key>Ancestors</key>
	<array>
		<string>io.mobilette.dt.unit.Podfile_Definitions</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:source:CocoaPods</key>
		<string>source &apos;https://github.com/CocoaPods/Specs.git&apos;</string>
		<key>*:platform</key>
		<string>platform :ios, &apos;9.0&apos;</string>
		<key>*:framework</key>
		<string>use_frameworks!</string>
		<key>*:target</key>
		<dict>
			<key>Beginning</key>
			<string>target &apos;___PACKAGENAME___&apos; do</string>
			<key>End</key>
			<string>end</string>
		</dict>
		<key>*:target:Alamofire</key>
		<string>pod &apos;Alamofire&apos;, &apos;~&gt; 4.0&apos;</string>
		<key>*:target:ObjectMapper</key>
		<string>pod &apos;ObjectMapper&apos;</string>
		<key>Commons/API/Components/DateISO8601Transform.swift</key>
		<dict>
			<key>Path</key>
			<string>API/Components/DateISO8601Transform.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
				<string>Components</string>
			</array>
		</dict>
		<key>Commons/API/RouterProtocol.swift</key>
		<dict>
			<key>Path</key>
			<string>API/RouterProtocol.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
			</array>
		</dict>
		<key>Commons/API/Error.swift</key>
		<dict>
			<key>Path</key>
			<string>API/Error.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
			</array>
		</dict>
		<key>Commons/API/___PROJECTNAME___API.swift</key>
		<dict>
			<key>Path</key>
			<string>API/___PROJECTNAME___API.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
			</array>
		</dict>
		<key>Commons/API/Request.swift</key>
		<dict>
			<key>Path</key>
			<string>API/Request.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
			</array>
		</dict>
		<key>Commons/API/User/UserRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>API/User/UserRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
				<string>User</string>
			</array>
		</dict>
		<key>Commons/API/User/UserError.swift</key>
		<dict>
			<key>Path</key>
			<string>API/User/UserError.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
				<string>User</string>
			</array>
		</dict>
		<key>Commons/API/User/UserAuthenticable.swift</key>
		<dict>
			<key>Path</key>
			<string>API/User/UserAuthenticable.swift</string>
			<key>Group</key>
			<array>
				<string>Commons</string>
				<string>API</string>
				<string>User</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
