<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.mobilette.dt.unit.Podfile_Definitions</string>
	<key>Definitions</key>
	<dict>
		<key>*:source:CocoaPods</key>
		<string>source &apos;https://github.com/CocoaPods/Specs.git&apos;</string>
		<key>*:platform</key>
		<string>platform :ios, &apos;9.0&apos;</string>
		<key>*:framework</key>
		<string>use_frameworks!</string>
		<key>*:target</key>
		<dict>
			<key>Beginning</key>
			<string>target &apos;___PACKAGENAME___&apos; do</string>
			<key>End</key>
			<string>end</string>
		</dict>
	</dict>
</dict>
</plist>
